.basket {
  position: relative;
}

.cart {
  background-color: #fff;
  display: grid;
  grid-template-rows: 20% 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'cart' 'content';
  gap: 1.5rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  position: absolute;
  top: 2rem;
  right: -8rem;
  width: 400px;
  min-height: 28vh;
  z-index: 15;
}

.empty {
  color: hsl(219, 9%, 45%);
  font-size: 1.125rem;
  font-weight: 700;
  align-self: center;
  justify-self: center;
}

.cart figure {
  overflow: hidden;
  width: 20%;
  border-radius: 10px;
  margin: 0;
}

.cart-content {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.cart-detail {
  font-size: 1.125rem;
  font-weight: 400;
  margin-right: auto;
}

.cart-detail p {
  margin: 0;
  color: hsl(219, 9%, 45%);
}

.cart-detail span {
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  margin: 0;
  margin-left: 0.5rem;
}

.cart img {
  max-width: 100%;
  display: block;
}

.icon {
  /* fill: hsl(219, 9%, 45%); */
  cursor: pointer;
}

.cart h3 {
  grid-area: cart;
  font-weight: 700;
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;
}

.cart button {
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cart button:hover {
  background-color: hsla(26, 100%, 55%, 0.75);
}

@media screen and (max-width: 600px) {
  .cart {
    top: 3rem;
    right: -23.5vw;
    width: 75vw;
    border-radius: 8px;
    min-height: 20vh;
  }
}
