.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 auto 5rem;
  border-bottom: 1px solid hsl(219, 9%, 45%);
  height: 80px;
  width: 80vw;
}

.header h1 {
  font-size: clamp(1rem, 10vw, 2rem);
  margin: 0;
}

.icon {
  display: none;
  color: hsl(219, 9%, 45%);
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.header nav {
  display: flex;
  align-items: stretch;
  margin-right: auto;
  height: 90%;
}

.header ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  list-style: none;
}

.header li {
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.1s ease-in-out;
}

.header li:hover {
  border-bottom: 5px solid hsl(26, 100%, 55%);
  height: 100%;
}

.header a {
  color: hsl(219, 9%, 45%);
  text-decoration: none;
}

.user {
  border: 2px solid transparent;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.user:hover {
  border-color: orange;
}

.user img {
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .icon {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }

  .header ul {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    justify-content: space-evenly;
    border-bottom: none;
    margin: 0;
    height: 70px;
    width: 100%;
  }

  .user {
    border: 2px solid transparent;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
}
