.gallery {
  display: flex;
  flex-direction: column;
  position: relative;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

.lightbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  top: 10%;
  left: 30%;
  width: 40%;
  margin: 0 auto;
  z-index: 300;
}

.close {
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  border: none;
}

.close:hover {
  color: hsl(26, 100%, 55%);
  cursor: pointer;
}

.gallery img {
  max-width: 100%;
}

.hidden {
  display: none;
}

.shown {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.pager {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
  padding: 0;
}

.side-btn {
  display: none;
}

.pager img {
  display: block;
}

.pager li {
  overflow: hidden;
  box-sizing: border-box;
  width: 20%;
  border: 2px solid transparent;
  border-radius: 20px;
  cursor: pointer;
}

.pager li:hover {
  opacity: 0.8;
}

.pager li.active {
  border-color: orange;
}

@media screen and (max-width: 600px) {
  .pager {
    display: none;
  }

  .shown {
    border-radius: 0;
  }

  .side-btn {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .side-btn img {
    display: block;
    max-width: 100%;
  }

  .right {
    left: 85%;
    top: 50%;
  }

  .left {
    left: 5%;
    top: 50%;
  }

  .lightbox,
  .backdrop {
    display: none;
  }
}
