.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    width: 80vw;
    margin: 0 auto 5rem;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}