.logo {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  text-transform: uppercase;
}

.name {
  font-size: 3rem;
  font-weight: 700;
}

.description {
  color: hsl(219, 9%, 45%);
  line-height: 1.5;
}

.discount-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.current-price {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 2rem;
}

.old-price {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  text-decoration: line-through;
}

.discount {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  padding: 0.25rem 0.5rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 2rem;
}

.add {
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex: 1;
  cursor: pointer;
}

.cartIcon {
  color: #fff;
}

.quantity {
  background-color: hsl(223, 64%, 98%);
  font-weight: 700;
  display: flex;
  align-items: center;
}

.quantity div {
  width: 10px;
}

.quantity button {
  background-color: transparent;
  color: hsl(26, 100%, 55%);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.add:hover {
  background-color: hsla(26, 100%, 55%, 0.75);
}

.quantity button:hover {
  color: hsla(26, 100%, 55%, 0.75);
}

@media screen and (max-width: 1200px) {
  .product {
    font-size: 0.9rem;
  }

  .name {
    font-size: 2.3rem;
  }

  .current-price {
    font-size: 1.5rem;
  }

  .add {
    font-size: 0.8rem;
    padding: 1.25rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  .product {
    padding: 0 1.5rem;
  }

  .actions {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .quantity div {
    text-align: center;
    width: 100%;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .discount-box {
    margin-bottom: 0;
  }

  .name {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
}
