.card {
    width: 50%;
}

.product {
    border-radius: 20px;
    overflow: hidden;
    background-color: aqua;
}

.product img {
    display: block;
    max-width: 100%;
}



@media screen and (max-width: 900px) {
    .card {
        width: 75%;
    }
  }

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
  }

