.card {
  width: 50%;
}

.product {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.product img {
  display: block;
  max-width: 100%;
}

.thumb img {
  display: block;
  max-width: 100%;
  width: 6rem;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.list .slick-current img {
    border: 2px solid red;
}

@media screen and (max-width: 900px) {
  .card {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
